{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form '@BitBagSyliusCatalogPlugin/Form/theme.html.twig' %}

<div class="ui two column stackable grid">
        <div class="column" id="bitbag-block-image">
                {{ form_errors(form) }}
                {{ translationForm(form.translations, resource) }}
        </div>
        <div class="column" id="bitbag-block-image">
                <div class="column stackable grid">
                        {{ form_row(form.code) }}
                </div>
        <h4 class="ui dividing header">{{ 'sylius.ui.start_date'|trans }} &amp; {{ 'sylius.ui.end_date'|trans }}</h4>

                <div class="two fields">
                        {{ form_row(form.startDate) }}
                        {{ form_row(form.endDate) }}
                </div>
        </div>
        <div class="ui segment">
                <h4 class="ui dividing header">{{ 'bitbag_sylius_catalog_plugin.ui.configuration'|trans }}</h4>
                <div class="ui two column stackable grid">
                        <div class="column bitbag-rules" id="rules" >
                                {{ form_widget(form.rules) }}
                        </div>

                        <div class="column" id="connecting_rules">
                                <h5>{{ 'bitbag_sylius_catalog_plugin.ui.form.catalog.connecting_rules' | trans }}</h5>
                                {{ form_widget(form.connectingRules) }}
                        </div>
                </div>
        </div>
        <div class="ui segment">
                <h4 class="ui dividing header">{{ 'bitbag_sylius_catalog_plugin.ui.product_association_rules'|trans }}</h4>
                <div class="ui two column stackable grid">
                        <div class="column bitbag-rules" id="product_association_rules">
                                {{ form_widget(form.productAssociationRules) }}
                        </div>

                        <div class="column" id="product_association_connecting_rules">
                                <h5>{{ 'bitbag_sylius_catalog_plugin.ui.form.catalog.product_association_connecting_rules' | trans }}</h5>
                                {{ form_widget(form.productAssociationConnectingRules) }}
                        </div>
                </div>
        </div>
</div>


